$gutters: 30px;
$grid-breakpoints-xl: 1200px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-sm: 576px;
$grid-breakpoints-xs: 320px;

// colors
$primary: #fc0389;
$secondary: #20a5a0;
$primary-light: #fff2f6;
$primary-lightest: rgba(255, 242, 246, 0.7);
$secondary-lightest: rgba(207, 255, 253, 0.5);
$black: #171717;
$white: rgba(255, 255, 252, 1);

// spacing
$sp-1: 8px;
$sp-1-half: 12px;
$sp-2: 16px;
$sp-3: 24px;
$sp-4: 32px;
$sp-5: 40px;
$sp-6: 48px;
$sp-7: 56px;
$sp-8: 64px;

$base-font: "Nunito", sans-serif;
$base-box-shadow: 10px 15px 15px -10px #fff2f6;
$base-border-radius: 10px;
$base-linear-gradient: linear-gradient(
  135deg,
  $primary-lightest 23.53%,
  $secondary-lightest 100%
);
$alternate-linear-gradient: linear-gradient(
  135deg,
  $secondary-lightest 23.53%,
  $primary-lightest 66%
);
