.chip {
  background: $white;
  padding: 8px 16px;
  border: 3px solid transparent;
  color: $black;
  font-weight: 600;
  border-radius: 100px;
  position: relative;
  transition: 0.5s;
  width: fit-content;
  margin: 8px;
  font-size: 18px;

  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, $primary, $secondary);
    height: calc(100% + 3px * 4);
    width: calc(100% + 3px * 4);
    top: calc(-3px * 2);
    left: calc(-3px * 2);
    z-index: -1;
    border-radius: 100px;
    background-size: 200%;
  }

}