#portfolio {
  .card {
    margin-bottom: $sp-4;
  }

  h3 {
    margin-bottom: $sp-3;
  }

  .techs {
    margin-top: $sp-3;
    margin-bottom: $sp-3;

    span {
      display: inline-block;
      margin-right: 8px;
      width: 32px;
      height: 32px;

      svg {
        width: 100%;
        height: auto;
      }
    }
  }

  .btn-wrapper {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $grid-breakpoints-xs) {
    .image-wrapper {
      height: 120px;

      .image {
        height: calc(100% + 16px);
        width: calc(100% + 32px);
        top: -16px;
        left: -16px;
      }
    }

    h3 {
      margin-top: $sp-2;
      margin-bottom: $sp-2;
    }

    .techs {
      margin-top: $sp-2;
      margin-bottom: $sp-2;

      span {
        display: inline-block;
        width: 24px;
        height: 24px;
      }
    }
  }
}
