.socials {
  text-align: right;
  padding-top: $sp-3;
  padding-bottom: $sp-3;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 2px solid $primary;
    border-radius: 50%;

    svg {
      color: $primary;
      min-width: 60%;
      min-height: 60%;
    }

    &:not(:first-of-type) {
      margin-left: $sp-2;
    }

    &:hover,
    &:focus {
      background-color: $primary;
      transition: background-color 0.1s ease-in-out;

      svg {
        color: $white;
        transition: color 0.1s ease-in-out;
      }
    }
  }

  @media (min-width: $grid-breakpoints-sm) and (max-width: $grid-breakpoints-lg) {
    a {
      width: 32px;
      height: 32px;
    }
  }

  @media (max-width: $grid-breakpoints-sm) {
    padding-top: $sp-2;
    padding-bottom: $sp-2;
    text-align: left;

    a {
      width: 32px;
      height: 32px;
      border-width: 1px;
    }
  }

  @media (max-width: $grid-breakpoints-xs) {
    a {
      width: 24px;
      height: 24px;

      svg {
        max-width: 50%;
        max-height: 50%;
      }
    }
  }
}
